<head>
    <!-- Datatable -->
  <link
    rel="stylesheet"
    href="https://cdn.datatables.net/2.0.8/css/dataTables.dataTables.min.css"
  />
  <script
    src="https://cdn.datatables.net/2.0.8/js/dataTables.min.js"
    defer
  ></script>
  <script src="/js/datatable.js" defer></script>
</head>
<section class="row m-0">
  <table id="user-accounts">
    <thead>
      <tr>
        <th>STT</th>
        <th>Tài khoản</th>
        <th>Mật Khẩu</th>
        <th>Chỉnh Sửa</th>
      </tr>
    </thead>
    <tbody>
        
    </tbody>
  </table>
</section>
