<head>
  <!-- js -->
  <script src="/js/datatable.js"></script>
  <script src="https://cdn.datatables.net/rowgroup/1.5.0/js/dataTables.rowGroup.js"></script>
  <script src="/js/inputFieldRestriction.js" defer></script>
  <!-- Slim select -->
  <script src="/js/slim-select.js" defer></script>
  <link rel="stylesheet" href="https://unpkg.com/tippy.js@6/dist/tippy.css">
  <script src="https://unpkg.com/@popperjs/core@2"></script>
  <script src="https://unpkg.com/tippy.js@6"></script>

  <style>
    /* Hide the spinners in input type number for Chrome, Safari, Edge, and Opera */
    input[type="number"]::-webkit-outer-spin-button,
    input[type="number"]::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  
    /* Hide the spinners in input type number for Firefox */
    input[type="number"] {
      -moz-appearance: textfield;
    }
  </style>
  
</head>

<div class="row m-0 m-md-2 g-3 mb-4">
  <% areas.forEach(areaData => { %>
  <div class="col-12 col-md-3 mt-2">
    <div class="card" style="box-shadow: 0 1px 2px">
      <div class="card-header bg-transparent">
        <h6 class="m-0">Khu vực</h6>
      </div>
      <div class="card-body">
        <h4 class="m-0"><%= areaData.name %></h4>
      </div>
      <div class="card-footer text-end bg-transparent p-1">
        <button class="btn btn-link"> <a href="/nhap-du-lieu/nguyen-lieu/<%= areaData.slug %>" >Nhập dữ liệu</a></button>
      </div>
    </div>
  </div>
  <% }) %>
</div>

<script>
  tippy('[data-tippy-content]');
</script>
