<header>
  <script src="https://cdn.jsdelivr.net/npm/chart.js" defer></script>
  <script src="/js/chart.js" defer></script>
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      function adjustCanvasHeight() {
        const canvases = document.querySelectorAll('canvas');
        canvases.forEach(canvas => {
          if (window.innerWidth <= 768) {
            canvas.height = 400;
          } else {
            canvas.height = 260;
          }
        });
      }

      // Adjust canvas height on load
      adjustCanvasHeight();

      // Adjust canvas height on window resize
      window.addEventListener('resize', adjustCanvasHeight);
    });
  </script>

  <style>
    .hidden {
      display: none;
    }
  </style>
</header>

<%- include('../partials/totalValue') %>
<div class="row m-0 m-md-2 g-3">
  <div class="col-12 col-md-6 d-flex flex-column">
    <div class="card flex-grow-1" style="box-shadow: 0 1px 2px">
      <div class="card-header">
        <button
          class="btn btn-secondary"
          onclick="downloadChart('revenueAndSpendChart', 'Thu_Nhập_Chi_Tiêu.png')"
        >
          Tải xuống
        </button>
      </div>
      <div class="card-body position-relative">
        <div
          class="spinner-border text-dark position-absolute top-50 start-50"
          id="spinner-revenueAndSpendChart"
          
        ></div>
        <canvas id="revenueAndSpendChart"></canvas>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6">
    <div class="row g-3">
      <div class="col-12">
        <div class="card" style="box-shadow: 0 1px 2px">
          <div class="card-header">
            <button
              class="btn btn-secondary"
              onclick="downloadChart('myChart', 'Nguyên_Liệu_Mủ.png')"
            >
              Tải xuống
            </button>
          </div>
          <div class="card-body position-relative">
            <div
              class="spinner-border text-dark position-absolute top-50 start-50"
              id="spinner-myChart"
              
            ></div>

            <canvas id="myChart"></canvas>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="card" style="box-shadow: 0 1px 2px">
          <div class="card-header">
            <button
              class="btn btn-secondary"
              onclick="downloadChart('productChart', 'Dữ_Liệu_Chạy_Lò.png')"
            >
              Tải xuống
            </button>
          </div>
          <div class="card-body position-relative">
            <div
              class="spinner-border text-dark position-absolute top-50 start-50"
              id="spinner-productChart"
              
            ></div>

            <canvas id="productChart"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
