<div
  class="dateSelectionSelector rounded-2 p-2"
  style="box-shadow: 0 0 1px; width: fit-content; cursor: pointer"
  data-bs-toggle="modal"
  data-bs-target="#staticBackdrop"
>
  <strong>Chọn ngày</strong><span></span>
</div>

<div
  class="modal fade dateSelectionContainer rounded-2 mx-3 my-2 p-2"
  id="staticBackdrop"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5>Lọc kết quả</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col">
            <label for="startDate" class="form-label">Bắt đầu:</label>
            <input
              type="date"
              id="startDate"
              class="form-control"
              onchange="
               let endDateField = document.getElementById('endDate'); 
               endDateField.min = this.value;
               updateDateDisplay(); 
               if(!endDateField.value){
                 endDateField.focus();
               }
              "
            />
          </div>
          <div class="col">
            <label for="endDate" class="form-label">Kết thúc:</label>
            <input
              type="date"
              id="endDate"
              class="form-control"
              onchange="               
              let startDateField = document.getElementById('startDate'); 
              startDateField.min = this.value;
              updateDateDisplay(); 
              if(!startDateField.value){
                startDateField.focus();
              }
              "
            />
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="col my-2 d-flex align-items-end">
          <button
            id="filterButton"
            class="btn btn-primary"
            data-bs-dismiss="modal"
            onclick="document.getElementById('clearFilterButton').style.display = 'inline'"
          >
            <i class="ri-menu-search-fill"></i>
          </button>
          <button
            id="clearFilterButton"
            class="btn btn-secondary mx-2"
            style="display: none"
            data-bs-dismiss="modal"
            onclick="this.style.display ='none', document.querySelector('.dateSelectionSelector span').textContent = ''"
          >
            <i class="ri-calendar-close-line"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  function updateDateDisplay() {
    let startDate = document.getElementById('startDate').value;
    let endDate = document.getElementById('endDate').value;
    let dateDisplay = document.querySelector('.dateSelectionSelector span');

    // Format the dates if they exist
    if (startDate) {
      startDate = startDate.split('-').reverse().join('-');
    }
    if (endDate) {
      endDate = endDate.split('-').reverse().join('-');
    }

    if (startDate && endDate) {
        dateDisplay.innerHTML = `: ${startDate} <i class="ri-arrow-right-line"></i> ${endDate}`;
    } else if (startDate) {
        dateDisplay.textContent = `: ${startDate}`;
    } else if (endDate) {
        dateDisplay.textContent = `: ${endDate}`;
    } else {
        dateDisplay.textContent = '';
    }
  }
</script>
