<header class="container-fluid" style="height: 70px;">
  <div class="row p-0 m-0 w-100 h-100 align-items-center">
    <div class="col-10"><h1><%= title %></h1></div>
    <div class="col-2 d-flex align-items-center">
      <div class="dropdown mb-0 rounded-3 border p-2" id="dropdownUser2"  data-bs-toggle="dropdown" aria-expanded="false" 
      <% if(title === "Hồ sơ cá nhân"){ %>
        style="cursor: pointer; background: blue; color: white;" 
      <%} else{ %>
        style="cursor: pointer;" 
      <% } %>
      >
        Username
      </div>
      <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
        <li><a class="dropdown-item" href="ho-so">Hồ Sơ Cá Nhân</a></li>
        <li><a class="dropdown-item" href="#">Sign out</a></li>
      </ul>
    </div>
  </div>
</header>