<head>
  <script src="/js/activeLink.js" defer></script>

  <style>
    .nav-link:hover {
      background-color: rgba(0, 0, 0, 0.3);
    }
  </style>
</head>
<nav
  class="min-vh-100 d-none d-md-flex flex-column flex-shrink-0 p-3"
  style="width: 230px; background: white;"
>
  <div class="d-flex align-items-center justify-content-center">
    <a href="/tong">
      <img
        src="/images/OIG3.HcFjYMBA3iNvsE-removebg-preview.png"
        alt="Logo"
        loading="eager"
        height="100px"
        width="100px"
      />
    </a>
  </div>
  <ul class="nav nav-pills flex-column mb-auto">
    <% if(user.role === "Admin" || user.role === "Giám đốc"){ %>
    <li class="nav-item">
      <a
        href="/tong"
        class="nav-link link-dark d-flex justify-content-between"
      >
        Tổng
        <i class="ri-line-chart-line"></i>
      </a>
    </li>
    <li class="nav-item">
      <a
        href="/truy-van"
        class="nav-link link-dark d-flex justify-content-between"
      >
        Truy Vấn
        <i class="ri-search-line"></i>
      </a>
    </li>
    <li class="nav-item">
      <a
        href="/quan-ly-du-lieu"
        class="nav-link link-dark d-flex justify-content-between"
      >
        Nguyên liệu tổng
        <i class="ri-database-line"></i>
      </a>
    </li>
    <!-- <li>
      <a
        href="/quan-ly-khu-vuc"
        class="nav-link link-dark d-flex justify-content-between"
      >
        Khu Vực
        <i class="ri-map-pin-line"></i>
      </a>
    </li> -->
    <!-- <li>
      <a
        href="/quan-ly-vuon"
        class="nav-link link-dark d-flex justify-content-between"
      >
        Vườn
        <i class="ri-tree-line"></i>
      </a>
    </li> -->
    <!-- <li>
      <a
        href="/quan-ly-nguoi-quan-ly"
        class="nav-link link-dark d-flex justify-content-between"
      >
        Người Quản Lý
        <i class="ri-user-3-line"></i>
      </a>
    </li> -->
    <li class="nav-item">
      <a
        href="/quan-ly-hang-hoa"
        class="nav-link link-dark d-flex justify-content-between"
      >
        Chạy lò
        <i class="ri-instance-line"></i>
      </a>
    </li>
    <li class="nav-item">
      <a
        href="/quan-ly-hop-dong"
        class="nav-link link-dark d-flex justify-content-between"
      >
        Hợp đồng 
        <i class="ri-contract-line"></i>
      </a>
    </li>
    <li class="nav-item">
      <a
        href="/quan-ly-chi-tieu"
        class="nav-link link-dark d-flex justify-content-between"
      >
        Chi tiêu
        <i class="ri-bill-line"></i>
      </a>
    </li>
    <% } %>
    <% if(user.role === "Admin" || user.role === "Văn phòng" || user.role === "Giám đốc"){ %>
    <li class="nav-item">
      <a
        href="/du-lieu-hang-ngay"
        class="nav-link link-dark d-flex justify-content-between"
      >
        Dữ liệu nguyên liệu
        <i class="ri-numbers-line"></i>
      </a>
      <ul class="nav flex-column ms-3">
        <li class="nav-item">
          <a
            href="/du-lieu/nhat-ky-hoat-dong"
            class="nav-link link-dark"
          >
            Lịch sử hoạt động
          </a>
        </li>
      </ul>
    </li>
    <% } %>
    <% if(user.role === "Admin" || user.role === "Hàm lượng" || user.role === "Giám đốc"){ %>
    <li class="nav-item">
      <a
        href="/nhap-du-lieu/nguyen-lieu"
        class="nav-link link-dark d-flex justify-content-between"
      >
        Nhập nguyên liệu 
        <i class="ri-edit-line"></i>
      </a>
    </li>
    <% } %>
    <% if(user.role === 'Admin'){ %>
    <li class="nav-item">
      <a
        href="/quan-ly-tai-khoan"
        class="nav-link link-dark d-flex justify-content-between"
      >
        Quản lý tài khoản
        <i class="ri-group-line"></i>
      </a>
    </li>
    <% } %>
    <!-- <li>
      <a href="#" class="nav-link link-dark d-flex justify-content-between">
        Xuất Dữ Liệu
        <i class="ri-export-line"></i>
      </a>
    </li> -->
  </ul>
  <hr />
  <div class="logOut">
    <form
      action="/quan-ly-tai-khoan/logOut"
      method="post"
      style="cursor: pointer"
    >
      <button
        type="submit"
        class="fs-6 border-0 w-100 d-flex justify-content-between"
        style="background: none"
      >
        Đăng xuất
        <i class="ri-logout-box-r-line"></i>
      </button>
    </form>
  </div>
</nav>

<nav class="d-md-none navbar fixed-bottom nav-pills" style="background: white; overflow-x: auto; overflow-y: hidden; white-space: nowrap;">
  <div class="d-flex flex-nowrap justify-content-start">
    <% 
      const navItems = [
        { roles: ["Admin", "Giám đốc"], href: "/tong", icon: "ri-line-chart-line", text: "Tổng" },
        { roles: ["Admin", "Giám đốc"], href: "/truy-van", icon: "ri-search-line", text: "Truy vấn" },
        { roles: ["Admin", "Giám đốc"], href: "/quan-ly-du-lieu", icon: "ri-database-line", text: "Dữ liệu" },
        { roles: ["Admin", "Giám đốc"], href: "/quan-ly-hang-hoa", icon: "ri-instance-line", text: "Hàng hóa" },
        { roles: ["Admin", "Giám đốc"], href: "/quan-ly-hop-dong", icon: "ri-contract-line", text: "Hợp đồng" },
        { roles: ["Admin", "Giám đốc"], href: "/quan-ly-chi-tieu", icon: "ri-bill-line", text: "Chi tiêu" },
        { roles: ["Admin", "Văn phòng"], href: "/du-lieu-hang-ngay", icon: "ri-numbers-line", text: "Dữ liệu nguyên liệu" },
        { roles: ["Admin", "Hàm lượng"], href: "/nhap-du-lieu/nguyen-lieu", icon: "ri-edit-line", text: "Nhập dữ liệu" },

        { roles: ["Admin"], href: "/quan-ly-tai-khoan", icon: "ri-group-line", text: "Tài khoản" }
      ];

      navItems.forEach(item => {
        if (item.roles.includes(user.role)) {
    %>
          <a class="nav-link link-dark p-1" href="<%= item.href %>" style="text-align: center; font-size: 0.9rem; display: inline-block; margin: 5px;">
            <i class="<%= item.icon %>" style="font-size: 1.4rem; display: block"></i><%= item.text %>
          </a>
    <% 
        }
      });
    %>
  </div>
</nav>
