<head>
  <script src="/js/activeLink.js" defer></script>

  <style>
    .nav-link:hover {
      background-color: rgba(0, 0, 0, 0.3);
    }
  </style>
</head>
<nav
  class="min-vh-100 d-none d-md-flex flex-column flex-shrink-0 p-3 bg-light"
  style="width: 230px"
>
  <span class="fs-4">Công Ty TNHH Đăng Quang</span>
  <hr />
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a
        href="/truy-van"
        class="nav-link link-dark d-flex justify-content-between"
      >
        Truy Vấn
        <i class="ri-search-line"></i>
      </a>
    </li>
    <li class="nav-item">
      <a
        href="/quan-ly-du-lieu"
        class="nav-link link-dark d-flex justify-content-between"
      >
        Dữ liệu
        <i class="ri-search-line"></i>
      </a>
    </li>
    <!-- <li>
      <a
        href="/quan-ly-khu-vuc"
        class="nav-link link-dark d-flex justify-content-between"
      >
        Khu Vực
        <i class="ri-map-pin-line"></i>
      </a>
    </li> -->
    <!-- <li>
      <a
        href="/quan-ly-vuon"
        class="nav-link link-dark d-flex justify-content-between"
      >
        Vườn
        <i class="ri-tree-line"></i>
      </a>
    </li> -->
    <!-- <li>
      <a
        href="/quan-ly-nguoi-quan-ly"
        class="nav-link link-dark d-flex justify-content-between"
      >
        Người Quản Lý
        <i class="ri-user-3-line"></i>
      </a>
    </li> -->
    <li>
      <a
        href="/quan-ly-hang-hoa"
        class="nav-link link-dark d-flex justify-content-between"
      >
        Hàng hóa
        <i class="ri-instance-line"></i>
      </a>
    </li>
    <li>
      <a
        href="/quan-ly-hop-dong"
        class="nav-link link-dark d-flex justify-content-between"
      >
        Hợp đồng bán mủ
        <i class="ri-instance-line"></i>
      </a>
    </li>
    <li>
      <a
        href="/quan-ly-tai-khoan"
        class="nav-link link-dark d-flex justify-content-between"
      >
        Quản Lý Tài Khoản
        <i class="ri-group-line"></i>
      </a>
    </li>
    <!-- <li>
      <a href="#" class="nav-link link-dark d-flex justify-content-between">
        Xuất Dữ Liệu
        <i class="ri-export-line"></i>
      </a>
    </li> -->
  </ul>
  <hr />
  <div class="logOut">
    <form
      action="/quan-ly-tai-khoan/logOut"
      method="post"
      style="cursor: pointer"
    >
      <button type="submit" class="fs-6 border-0 w-100 d-flex justify-content-between" style="background: none">
        Đăng xuất
        <i class="ri-logout-box-r-line"></i>
      </button>
    </form>
  </div>
</nav>
