<% if (messages.fail) { %>
<div
  class="errorMessage alert alert-danger p-2 rounded-1"
  role="alert"
  style="border-radius: 15px"
>
  <%- messages.fail %>
</div>
<% } %> 
<% if (messages.success) { %>
<div
  class="successMessage alert alert-success p-2 rounded-1"
  role="alert"
  style="border-radius: 15px"
>
  <%- messages.success %>
</div>
<% } %>

<script>
  setTimeout(function () {
    var errorMessages = document.getElementsByClassName("errorMessage");
    var successMessages = document.getElementsByClassName("successMessage");

    for (var i = 0; i < errorMessages.length; i++) {
      errorMessages[i].style.display = "none";
    }

    for (var i = 0; i < successMessages.length; i++) {
      successMessages[i].style.display = "none";
    }
  }, 5000);
</script>