<div class="d-flex align-items-end mt-2 flex-wrap gap-2">            
  <div>
    <label for="dryPrice">Mủ quy khô</label>
    <input
      type="text"
      class="form-control form-control-sm"
      id="dryPrice"
      name="dryPrice"
      placeholder="99.000"
      oninput="handleQuantityInput(this)"
    />
  </div>
  <div>
    <label for="mixedPrice">Mủ tạp</label>
    <input
      type="text"
      class="form-control form-control-sm"
      id="mixedPrice"
      name="mixedPrice"
      placeholder="19.000"
      oninput="handleQuantityInput(this)"
    />
  </div>
  <div>
    <label for="kePrice">Mủ ké</label>
    <input
      type="text"
      class="form-control form-control-sm"
      id="kePrice"
      name="kePrice"
      placeholder="19.000"
      oninput="handleQuantityInput(this)"
    />
  </div>
  <div>
    <label for="dongPrice">Mủ đông</label>
    <input
      type="text"
      class="form-control form-control-sm"
      id="dongPrice"
      name="dongPrice"
      placeholder="19.000"
      oninput="handleQuantityInput(this)"
    />
  </div>
  <div class="d-flex align-items-end">
    <button type="submit" class="btn btn-primary">Nhập</button>
  </div>
</div>