# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN
PassengerAppRoot "/home/wdweoivs/dqinventory.com"
PassengerBaseURI "/"
PassengerNodejs "/home/wdweoivs/nodevenv/dqinventory.com/18/bin/node"
PassengerAppType node
PassengerStartupFile app.js
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END
