* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Be Vietnam Pro', sans-serif;
}

:root {
  --background_color: #caf4ff;
}

table thead th, table tfoot th {
  border: 1px solid rgba(0, 0, 0, 0.5);
}

table td {
  word-wrap: break-word;
  border-right: 1px solid rgba(0, 0, 0, 0.5);
  border-left: 1px solid rgba(0, 0, 0, 0.5);

}
